body {
  margin: 0px;
  background-color:#e9ebee;
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  font-size: 15px;
}

.navbar {
  background-color: #3b5998;
}

.navbar .navbar-brand {
  padding-top: 13px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #3b5998;
}

.container {
  padding-right: 15px;
  margin-right: auto;
  margin-left: 5%;
}

.panel-post {
      border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.profile {
  float: left; 
  margin-right: 10px;
 }

.blue_text {
  color: #3b5998;
}
.grey_text {
  color: rgb(144, 148, 156);
  font-size: small;
}
.like_button {
      color: #4b4f56;
}

button {
    background-color: white;
    border: 0;
    padding: 0;
}

.who_likes_it {
    padding: 0;
    list-style: none;
}

.who_likes_it li:hover ul {
  display: block;
  background-color: #1d2129;
  color: white;
  list-style: none;
  padding: 5px;
  margin-left: 10px;
  line-height: 1em;
  overflow: visible;
}

.who_likes_it li ul {
  position: absolute;
  width: 150px;
  display: none;
  bottom: 0px;
}


.messenger_pic {
      border-radius: 25px;
    bottom: 50px;
    position: relative;
    right: 13%;
}

.message_text {
  background: rgb(241, 240, 240) none repeat scroll 0% 0% / auto padding-box border-box; 
  border-radius: 18.2px 18.2px 18.2px 4px; 
  padding: 6px 12px;
  margin-bottom: 10px;
}